<div class="container">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold text-primary">Change Password</p>
        <hr />
      </div>
    </div>
</div>
  <div class="container">
      <div class="row">
        <div class="col-md-5">
              <form #changePasswordForm="ngForm" (ngSubmit)="updatePassword()">
                <div class="form-group">
                    <div class="mb-2 form-group">
                        <label for="currPassword">Current Password:</label>
                        <input 
                        type="text" 
                        name="currPassword" 
                        class="form-control"
                        id="currPassword"
                        required
                        minlength="6"
                        [(ngModel)]="user.currPassword"
                        #currPassword="ngModel"
                        >
                    </div>
                    <div class="mb-2 form-group">
                        <label for="password">Enter new Password: </label>
                        <input 
                        type="password" 
                        name="password"
                        class="form-control"
                        id="password" 
                        required
                        minlength="6"
                        [(ngModel)]="user.password" 
                        #password="ngModel"
                        [class.is-invalid]="!password.valid && password.touched"
                        >
                    </div>
                    <div class="mb-2 form-group">
                        <label for="confirmPassword">Confirm Password: </label>
                        <input 
                        type="password" 
                        class="form-control"
                        name="confirmPassword" 
                        id="confirmPassword"
                        required
                        minlength="6"
                        (ngModel)="user.password"  
                        #confirmPassword="ngModel"
                        [class.is-invalid]="!confirmPassword.valid && confirmPassword.touched"
                        >
                        <small class="text-danger" [class.d-none]="(confirmPassword.value == password.value) || !confirmPassword.touched">New Password and Confirm Password must be same</small>
                    </div>
                    <div class="mb-2 mt-3">
                      <button type="submit" [disabled]="!changePasswordForm.valid || (password.value !== confirmPassword.value)" class="btn btn-primary" value="Update">Update Password</button>
                      <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
