<div class="container">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold text-cus">View Profile</p>
        <hr />
      </div>
    </div>
  </div>
  
  <!-- User Details -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#profilePhotoModal">
          <img [src]="user.image" alt="User Photo" class="c-img">
        </button>
      </div>
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary bg-cus">Name: <span class="fw-bold">{{user.userName}}</span></li>
          <li class="list-group-item list-group-item-primary bg-cus">Email: <span class="fw-bold">{{user.email}}</span></li>
          <li class="list-group-item list-group-item-primary bg-cus">Age: <span class="fw-bold">{{user.age}}</span></li>
          <li class="list-group-item list-group-item-primary bg-cus">Gender: <span class="fw-bold">{{user.gender}}</span></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <a routerLink="/contacts/editProfile" class="btn btn-warning m-3">Edit Profile </a>
          <a routerLink="/" class="btn btn-danger">Back</a>
      </div>
    </div>
  </div>

<!--Profile Photo Modal -->
<div class="modal fade" id="profilePhotoModal" tabindex="-1" aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body image-container">
        <div class="image-container">
          <button type="button" class="btn-close button-over-image" data-bs-dismiss="modal" aria-label="Close"></button>
          <img [src]="user.image" alt="User Photo" class="modal-photo">
        </div>
      </div>
    </div>
  </div>
</div>