<div class="container mt-3 ">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-9" style="margin-top: 12px;">
            <p class="h3 text-primary fw-bold">
              Contacts 
              <a routerLink="/contacts/add" class="btn btn-primary btn-sm mx-2">
                <i class="fa fa-plus-circle"></i>
                New</a>
            </p>
          </div>
          <div class="col-md-2 box">
            <button class="btn btn-primary" (click)="exportContacts()">Export Contacts</button>
          </div>
          <div class="col-md-1" *ngIf="!showDialoge" (click)="openProfileDialogeBox()">
            <button class="btn"><img [src]="user.image" alt="Profile Photo" class="p-img"></button>
          </div>
          <section *ngIf="showDialoge">
            <div class="row justify-content-end">
              <div class="col-md-4 me-2">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                    <ul class="list-group">
                      <div class="row">
                        <li style="list-style: none;"><img [src]="user.image" alt="Profile Photo" class="c-img my-3"></li>
                        <li style="list-style: none;" class="mt-3 h5 text-center btn btn-outline-primary text-normal fw-bold">{{user.userName}}</li>
                        <button class="btn btn-outline-primary fw-bold" (click)="openProfileDialogeBox()">Close</button>
                      </div>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item">
                          <p class="h3 text-primary fw-bold">
                            <a routerLink="/contacts/me" class="navbar-brand">
                              View Profile <i class="fa fa-eye"></i></a>
                          </p>
                        </li>
                        <li class="list-group-item">
                          <p class="h3 text-primary fw-bold">
                            <a routerLink="/contacts/editProfile" class="navbar-brand">
                              Edit Profile <i class="fa fa-pen ms-2"></i></a>
                          </p>
                        </li>
                        <li class="list-group-item">
                          <p class="h3 text-primary fw-bold">
                            <a routerLink="/contacts/changePassword" class="navbar-brand">
                              Change Password <i class="fa fa-pen ms-2"></i></a>
                          </p>
                        </li>
                        <li class="list-group-item">
                          <p class="h3 text-primary fw-bold">
                            <a routerLink="/" (click)="deleteUserProfile()" class="navbar-brand">
                              Delete Profile</a>
                          </p>
                        </li>
                        <li class="list-group-item">
                          <p class="h3 text-primary fw-bold">
                            <a routerLink="/contacts/auth" (click)="logout()" class="navbar-brand">
                              Logout <i class="fa-solid fa-arrow-right-from-bracket ms-5"></i></a>
                          </p>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </section>

        </div>
      </div>
      <hr />
      <app-search></app-search>
    </div>
  </div>
</div>

<!-- error message -->
<div *ngIf="errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">
          {{errorMessage}}
        </p>
      </div>
    </div>
  </div>
</div>

<!--  -->
<div class="container mt-3" *ngIf="!loading && contacts.length>0">
  <div class="row">
    <div class="col-md-6" *ngFor="let contact of contacts">
      <div class="bg-primary card list-group-item-primary my-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <img [src]="contact.photo" alt="An img" class="c-img">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">
                  Name: <span class="fw-bold">{{contact.name}}</span>
                </li>
                <li class="list-group-item">
                  Mobile: <span class="fw-bold">{{contact.mobile}}</span>
                </li>
                <li class="list-group-item">
                  Created_at: <span class="fw-bold">{{contact.createdAt}}</span>
                </li>
                <li class="list-group-item">
                  Updated_at: <span class="fw-bold">{{contact.updatedAt}}</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
              <a routerLink="/contacts/view/{{contact._id}}" class="btn btn-warning my-3">
                <i class="fa fa-eye"></i>
              </a>
              <a routerLink="/contacts/edit/{{contact._id}}" class="btn btn-success my-3">
                <i class="fa fa-pen"></i>
              </a>
              <button class="btn btn-danger my-3" type="button" (click)="deleteContact(contact._id)">
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <pre>{{contacts | json}}</pre> -->