/* You can add global styles to this file, and also import other style files */
body {
    background-color: #9a90e4;
}

.c-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.p-img {
    width: 50px;
    height:50px;
    border-radius: 50%;
}