<form>
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          placeholder="Search Contact"
          (input)="search($event)"
        />
      </div>
      <div class="col">
        <button 
        type="button" 
        class="btn btn-outline-dark" 
        (click)="search1()"
        >Search</button>
      </div>
      <div class="col">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          placeholder="Search Contact"
          (keyup)="search2($event)"
        />
        <section class="form-control"></section>
      </div>
    </div>
  </div>
</form>

