<form>
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          placeholder="Search Contact"
          (keyup)="search($event)"
        />
        <section class="form-control" *ngIf="hasQuery">
          <p *ngIf="contacts.length < 1">No Contact with such a name</p>
          <ul class="list-group" *ngFor="let contact of contacts">
            <li class="list-group-item"  (click)="goToContact(contact.name)">{{contact.name}} </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</form>

